@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins';
}

.forgot {
     width: 500px !important;
     margin-top: 200px !important;
     margin-bottom: 200px !important;
}
.form-label {
     margin-bottom: 0px !important;
}
.form-control {
     border-radius: unset !important;
}
.form-control:focus {
     box-shadow: unset !important;
     border: 2px solid black;
}
.btn {
     width: 100% !important;
     background-color: black !important;
     color: #fff !important;
     letter-spacing: 3px !important;
     border-radius: unset !important;
}
@media screen and (max-width: 768px) {
    .forgot {
        max-width: 768px !important;
        margin-top: 150px !important;
        margin-bottom: 150px !important;
        padding: 0 20px;
    }
    .forgot h1 {
        font-size: 30px !important;
    }
}
@media screen and (max-width: 500px) {
     .forgot{
         width: 90% !important; 
     }
     .forgot h1 {
         font-size: 20px; 
     }
 }
