
.footer-section {
	background-color: #171819;
	padding: 100px 0px 0px 0px;
     color: white !important;
}
.footer-section h2 {
	margin-bottom: 10px;
	font-size: 50px;
}
.footer-section h4 {
	font-size: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.footer-menu ul {
     padding: 0px;
     margin: 0px;
 }
.footer-menu li {
	width: 100%;
	float: left;
	list-style: none;
}
.footer-menu li a {
	text-decoration: none;
	color: #fff;
}
.contact-info ul {
	list-style: none;
	padding: 0px;
	width: 100%;
	float: left;
}
.contact-info ul li {
	float: left;
	padding-right: 20px;
	font-size: 22px;
}

.copyright {
	border-top: 1px solid lightgrey;
	margin: 0px;
	padding: 0px;
	margin-top: 50px;
	padding-top: 20px;
	padding-bottom: 30px;
}
.copyright p {
	margin-top: 10px;
}
.copyright ul {
	list-style: none;
	float: right;
	margin-top: 10px;
}
.copyright ul li {
	float: left;
}
.copyright ul li a {
	border-right: 1px solid lightgrey;
	padding: 0px 10px;
	text-decoration: none;
	color: #fff;
}
.copyright ul li:last-child a {
	border-right: none;
}
@media screen and (max-width:768px) {
	.footer-section {
		padding: 50px 0px 0px 0px;
		display: flex;
		flex-direction: column;
	}
	.footer-section h2 {
		text-align: center;
		margin-bottom: 10px;
		font-size: 40px;
	}
	.copyright p {
		text-align: center;
	}
}